/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

h1{

  font-family: Arial, sans-serif, sans;
  font-size:15px;
  width:100%;
  color: #666;
}