
<!DOCTYPE html>
<!-- Written by Faiz Abbasi -->
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Carnegie Mellon Rowing Club</title>
  <meta name="generator" content="TextMate http://macromates.com/">
  <meta name="author" content="Faiz Abbasi">
  <!-- Date: 1/12/2012 -->
</head>
<body>
<!-- This class represents the very top portion of the website. As in, it'll hold the
Carnegie Mellon University - Rowing icon. Perhaps it'll be a link to the homepage. -->
<div id="main">
  <div id="wrapper">
    <div class="header">
      <div id="top"><a class="main_logo" href="/"></a> </div>
    <ul id = "menu">
          <li>
            <a href="/Latest_News.html">Latest News</a>
          </li>
          <li>
            <a href="/recruitment.html">Recruitment</a>
          </li>
          <li>
            <a href="/coaches.html">Coaches</a>
          </li>
          <li>
            <a href="/contact_us.html">Contact Us</a>
          </li>
          <li>
            <a href="/roster.html">Roster</a>
          </li>
          <li>
            <a href="/schedule.html">Schedule</a>
          </li>
          <li>
            <a href="/history.html">History</a>
          </li>
              
          <li>
            <a href="/photos.html">Photos</a>
          </li>
          <li>
            <a href=" /alumni.html">Alumni</a>
          </li>
    </ul>
    </div>
    <div class="center_piece">
    
      <div class="header_pic">
      </div>
    </div>
    
    <div class="main_content">
      <div class="left_content">
        <div class= "general_info">
          <p><span class="welcome">Welcome to the Carnegie Mellon </br>University Rowing Club! </span>
          </br></br>
          Located in Pittsburgh, PA Carnegie Mellon has fielded competitive men's
          and women's crews since 1987. As member of American Collegiate Rowing
          Association we compete in fall and spring races throughout the Northeast
          and Mid Atlantic regions. Over the years we've been competitive at regattas 
          such as Head of the Charles and Dad Vail Regatta.
          </p>
        </div>

        <div class="latest_news">
        <h3>Latest News</h3>
        
        <p><span class="title">Website Renovations</span></br></br>
        We are currently in the process of reconstructing the website and would appreciate any feedback or comments. We apologize for any broken features or pages. Email admin@tartancrew.org with any thoughts, comments, or corrections.
        </p>
        </div>
      </div>
      <div class="right_content">
        <h3>Interested in Rowing?</h3>
        <p>We are looking for both experienced
        and new rowers and coxswains to
        start this fall. The only requirements
        for joining our team are a competitive
        personality and willingness to work
        hard.</br></br>
        <a href="recruitment.html"> >> I'm interested</a>
        </p>
		<span class="right_image"></span>
      </div>
    </div>

    <div class="side_info">

    </div>
  </div>
</div>
</body>
</html>