<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @fundraiser_type.name %>
</p>


<%= link_to 'Edit', edit_fundraiser_type_path(@fundraiser_type) %> |
<%= link_to 'Back', fundraiser_types_path %>
